.subpixel{
    width: calc(100px / 3);
    height: 100px;
}
.red{
    background: rgb(1,1,0);
    display: inline-block;
}
.green{
    background: green;
    display: inline-block;
}
.blue{
    background: blue;
    display: inline-block;
}

